* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align at the top of the container */
  height: 400px;
  width: 300px;
  border: 1px solid black;
  padding-top: 20px; /* Add some top padding for spacing */
  border-radius: 10px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Occupy full width */
}

.inputContainer input[type="text"] {
  height: 40px;
  margin-top: 10px;
  padding-left: 10px;
  width: 200px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
}

#btn {
  width: 80px;
  height: 40px;
  margin-top: 10px;
  margin-left: 5px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#imgShow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#img {
  margin: 20px;
  max-width: 100%;
  max-height: 200px;
}
